  <script>
    // avoid flickering
    setUserColorMode();
    function setUserColorMode() {
      const storedMode = window.localStorage.getItem('colorMode');
      let fallbackMode = wantsLightMode() ? 'light' : 'dark';
      console.log(storedMode || fallbackMode)
      const isDarkMode =  (storedMode || fallbackMode) == 'dark';  
      const root = document.documentElement;
      root.setAttribute('data-mode', isDarkMode ? 'dark' : 'light');
    }
    function wantsLightMode(){
	return window.matchMedia('(prefers-color-scheme: light)').matches;
    }
  </script>
