{% include "partials/fonts.html" %}
<!--<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>-->
<!--<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% set title = page.description | default(value=config.description) -%}
{% if title %}
<meta name="description" content="{{ title }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">

<link rel="stylesheet" href="/style.css">

{% for cssFile in config.extra.custom_css %}
<link rel="stylesheet" href="{{ get_url(path=cssFile) }}">
{% endfor %}

<link rel="icon" type="image/png" href="{{ "images/favicon.svg" }}" />
